@media (min-width: 1400px) {}

@media (min-width: 1200px) and (max-width: 1399.99px) {}

@media (min-width: 992px) and (max-width: 1199.99px) {

    /* ===========================
        HOME START
    =============================*/

    .tf_main_manu .navbar-nav .nav-item .nav-link {
        margin-right: 24px;
    }

    .main_manu_btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    .tf__manu_icon li .single_icon {
        font-size: 22px;
        margin-left: 14px;
    }

    .tf__manu_icon {
        margin-left: 10px;
    }

    .tf_about_img {
        height: 472px;
    }

    .tf_service_img {
        width: 100%;
    }

    .tf_single_timeline {
        margin-top: 36px;
    }

    .tf_choose_text {
        margin-left: 25px;
        margin-top: 150px;
    }

    .tf_single_blog .blog_food {
        bottom: 275px;
    }

    /* ===========================
        HOME  END
    =============================*/


    /* ===========================
        CONTACT START
    =============================*/
    .contact_overly {
        padding: 120px 60px;
    }

    .contact_img {
        height: 625px;
    }

    /* ===========================
        CONTACT END
    =============================*/

    /* ===========================
        SERVICE_DTLS START
    =============================*/
    .tf__service_main_pageination {
        margin-bottom: 75px;
    }

    .tf__service_dtls_video_sec {
        height: 380px;
    }

    .tf__service_dtls_play_btn {
        top: 172px;
        right: 171px;
    }

    /* ===========================
        SERVICE_DTLS END
    =============================*/









}











@media (min-width: 768px) and (max-width: 991.99px) {

    /* ===========================
        HOME START
    =============================*/

    .tf_main_manu .navbar-toggler {
        border: 1px solid var(--colorBlack);
        box-shadow: none;
    }

    .tf__drop_manu {
        width: 90px;
    }

    .tf__drop_manu li a {
        font-size: 14px;
        padding: 1px 8px;
    }

    .tf_main_manu .navbar-collapse {
        background: var(--colorWhite);
        text-align: center;
    }

    .tf_main_manu .navbar-nav {
        line-height: 61px;
    }

    .tf_drop_main_manu {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .tf_main_manu .navbar-nav .nav-item .nav-link {
        margin-right: 0;
    }

    .tf__manu_icon {
        margin-left: 185px;
    }

    .tf_banner_text h3 {
        font-size: 22px;
    }

    .tf_banner_text h1 {
        font-size: 44px;
    }

    .tf_about_img {
        height: 348px;
    }

    .tf_common_heading h3 {
        font-size: 22px;
    }

    .tf_common_heading h1 {
        font-size: 40px;
    }

    .tf_common_heading2 h3 {
        font-size: 22px;
    }

    .tf_common_heading2 h1 {
        font-size: 40px;
    }

    .tf_service_img {
        height: 200px;
    }

    .tf_service_heading {
        font-size: 22px;
    }

    .tf_frtd_heading {
        font-size: 22px;
    }

    .tf_single_timeline {
        margin-top: 40px;
    }

    .tf_team_heading {
        font-size: 22px;
    }

    .tf_team_img {
        height: 335px;
    }

    .tf_video_text h1 {
        font-size: 40px;
    }

    .tf_choose_text {
        margin-top: 150px;
    }

    .tf_blog_img {
        height: 215px;
    }

    .tf_single_blog .blog_food {
        bottom: 234px;
    }

    .tf_blog_heading {
        font-size: 22px;
    }

    /* ===========================
        HOME END
    =============================*/



    /* ===========================
        CONTACT START
    =============================*/
    .contact_overly {
        padding: 55px 24px;
    }

    .contact_form h3 {
        font-size: 40px;
    }

    .contact_img {
        display: none;
    }

    /* ===========================
        CONTACT END
    =============================*/


    /* ===========================
        SERVICE_DTLS START
    =============================*/
    .tf__service_main_pageination {
        margin-bottom: 75px;
    }

    .tf__service_dtls_video_sec {
        margin-top: 50px;
    }

    .tf__service_dtls_play_btn {
        top: 210px;
        right: 339px;
    }

    /* ===========================
        SERVICE_DTLS END
    =============================*/

    /* ===========================
        TEAM_DTLS START
    =============================*/
    .tf__team_dtls_text {
        margin-top: 0;
    }

    /* ===========================
        TEAM_DTLS END
    =============================*/












}










@media (min-width: 576px) and (max-width: 767.99px) {

    /* ===========================
        HOME START
    =============================*/

    .tf__topbar_icon li a {
        width: 24px;
        height: 24px;
        line-height: 26px;
        font-size: 10px;
        margin-right: 5px;
    }

    .tf_main_manu .navbar-toggler {
        border: 1px solid var(--colorBlack);
        box-shadow: none;
    }

    .tf__drop_manu {
        width: 90px;
    }

    .tf__drop_manu li a {
        font-size: 14px;
        padding: 1px 8px;
    }

    .tf_main_manu .navbar-collapse {
        background: var(--colorWhite);
        text-align: center;
    }

    .tf_main_manu .navbar-nav {
        line-height: 61px;
    }

    .tf_drop_main_manu {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .tf_main_manu .navbar-nav .nav-item .nav-link {
        margin-right: 0;
    }

    .tf_main_manu {
        height: 62px;
    }

    .tf_main_manu .navbar-brand {
        width: 100px;
    }

    .tf_banner_text h3 {
        font-size: 20px;
    }

    .tf_banner_text h1 {
        font-size: 30px;
    }

    .tf_banner_text p {
        font-size: 16px;
    }

    .tf_common_btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .tf_about {
        padding: 50px 0px;
    }

    .tf_about_img {
        height: 220px;
        width: 220px;
        margin: auto;
        margin-bottom: 20px;
    }

    .tf_common_heading h3 {
        font-size: 18px;
    }

    .tf_common_heading h1 {
        font-size: 24px;
    }

    .play_btn {
        width: 40px;
        height: 40px;
        line-height: 36px;
    }

    .tf_service {
        padding: 50px 0px 30px 0px;
    }

    .tf_common_heading2 h3 {
        font-size: 18px;
    }

    .tf_common_heading2 h1 {
        font-size: 24px;
    }

    .tf_service_img {
        height: 180px;
    }

    .tf_service_heading span {
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .tf_service_heading {
        font-size: 18px;
        padding-left: 54px;
    }

    .tf_service_text p {
        font-size: 16px;
    }

    .tf_service_text .link {
        width: 46px;
        height: 30px;
        font-size: 24px;
        line-height: 30px;
    }

    .tf_featured {
        padding: 50px 0px 30px 0px;
    }

    .tf_featured_img {
        height: 170px;
    }

    .tf_frtd_heading {
        font-size: 18px;
    }

    .tf_featured_text .price {
        font-size: 16px;
    }

    .tf_single_featured .new {
        font-size: 16px;
    }

    .tf_timeline {
        padding: 55px 0px;
    }

    .tf_single_timeline {
        margin-top: 20px;
    }

    .tf_single_timeline li {
        margin-top: 25px;
    }

    .tf_single_timeline li {
        margin-top: 25px;
        margin-right: 25px;
    }

    .tf_team {
        padding: 50px 0px;
    }

    .tf_team_heading {
        font-size: 18px;
    }

    .tf_team_text p {
        font-size: 16px;
        margin-top: 0;
    }

    .tf_video_text {
        padding: 40px 0px;
    }

    .tf_video_text h1 {
        font-size: 20px;
    }

    .tf_video_text a {
        font-size: 20px;
        padding: 8px 15px;
        margin-top: 20px;
    }

    .tf_choose {
        padding: 50px 0px;
    }

    .tf_choose_img2 {
        width: 200px;
        height: 140px;
        bottom: -78px;
        right: 44px;
    }

    .tf_choose_text {
        margin-top: 115px;
        margin-left: 0;
    }

    .tf_common_heading p {
        font-size: 16px;
        margin-top: 20px;
    }

    .choose_heading span {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        margin-right: 7px;
    }

    .choose_heading h3 {
        font-size: 18px;
    }

    .tf_choose_dtls p {
        font-size: 16px;
    }

    .tf_blog {
        padding: 50px 0px 50px 0px;
    }

    .tf_blog_img {
        height: 190px;
    }

    .tf_single_blog .blog_food {
        bottom: 127px;
        font-size: 16px;
        padding: 4px 14px;
    }

    .tf_blog_text {
        padding: 18px 20px;
        overflow: hidden;
    }

    .tf_blog_heading {
        font-size: 18px;
    }

    .tf_blog_text p {
        font-size: 16px;
    }

    .tf_footer_overly {
        padding-top: 50px;
    }

    .tf_footer_logo {
        margin-bottom: 20px;
    }

    .tf_footer_address p span,
    .tf_footer_address a span {
        font-size: 16px;
    }

    .tf_footer_text h5 {
        margin-top: 20px;
    }

    .tf_short_link li a {
        font-size: 16px;
    }

    .tf_footer_text form input {
        padding: 12px 184px 12px 15px;
        font-size: 16px;
    }

    .tf_footer_btn {
        top: 3px;
        right: 3px;
        padding: 10px 13px;
    }

    .tf_copyrite {
        padding: 10px 0px;
        margin-top: 40px;
    }

    .tf__topbar_icon li a {
        width: 24px;
        height: 24px;
        line-height: 26px;
        font-size: 10px;
        margin-right: 5px;
    }

    .tf_main_manu .navbar-toggler {
        border: 1px solid var(--colorBlack);
        box-shadow: none;
    }

    .tf__drop_manu {
        width: 90px;
    }

    .tf__drop_manu li a {
        font-size: 14px;
        padding: 1px 8px;
    }

    .tf_main_manu .navbar-collapse {
        background: var(--colorWhite);
        text-align: center;
    }

    .tf_main_manu .navbar-nav {
        line-height: 61px;
    }

    .tf_drop_main_manu {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .tf_main_manu .navbar-nav .nav-item .nav-link {
        margin-right: 0;
    }

    .tf__manu_icon {
        margin-left: 130px;
    }

    .tf_main_manu {
        height: 62px;
    }

    .tf_main_manu .navbar-brand {
        width: 100px;
    }

    /* ===========================
        HOME END
    =============================*/


    /* ===========================
        SERVICE START
    =============================*/

    .tf__bread_overlay {
        padding: 120px 0px 70px 0px;
    }

    .tf__breadcumbs_img {
        width: 191px;
        height: 128px;
        margin-top: 20px;
    }

    .tf__breadcumbs_text h4 {
        font-size: 30px;
    }

    #tf__breadcrumb .breadcrumb-item a {
        font-size: 16px;
    }

    #tf__breadcrumb .breadcrumb-item.active {
        font-size: 16px;
    }

    #tf__pagination .page-link {
        font-size: 16px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 0px 5px;
    }

    /* ===========================
        SERVICE END
    =============================*/



    /* ===========================
        CONTACT START
    =============================*/
    .contact_overly {
        padding: 55px 24px;
    }

    .contact_form h3 {
        font-size: 24px;
    }

    .contact_form p {
        font-size: 16px;
    }

    .contact_img {
        display: none;
    }

    /* ===========================
        CONTACT END
    =============================*/

    /* ===========================
        SERVICE_DTLS START
    =============================*/
    .tf__service_dtls {
        padding: 10px 0px 75px 0px;
    }

    .tf__service_dtls_text p {
        font-size: 16px;
    }

    .tf__service_dtls_single_img {
        height: 195px;
    }

    .tf__service_dtls_pageination h4 {
        font-size: 18px;
    }

    .tf__service_dtls_text {
        margin-top: 54px;
    }

    .tf__service_dtls_video_sec {
        height: 300px;
    }

    .tf__service_dtls_video_sec {
        height: 300px;
        margin-top: 55px;
    }

    .tf__service_dtls_play_btn {
        top: 132px;
        right: 250px;
    }

    /* ===========================
        SERVICE_DTLS END
    =============================*/


    /* ===========================
        TEAM_DTLS START
    =============================*/
    .tf__team_dtls_text {
        margin-top: 0;
    }

    /* ===========================
        TEAM_DTLS END
    =============================*/











}


























@media (max-width: 575.99px) {

    /* ===========================
        HOME start
    =============================*/

    .tf__topbar_icon li a {
        width: 24px;
        height: 24px;
        line-height: 26px;
        font-size: 10px;
        margin-right: 5px;
    }

    .tf_main_manu .navbar-toggler {
        border: 1px solid var(--colorBlack);
        box-shadow: none;
    }

    .tf__drop_manu {
        width: 90px;
    }

    .tf__drop_manu li a {
        font-size: 14px;
        padding: 1px 8px;
    }

    .tf_main_manu .navbar-collapse {
        background: var(--colorWhite);
        text-align: center;
    }

    .tf_main_manu .navbar-nav {
        line-height: 61px;
    }

    .tf_drop_main_manu {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .tf_main_manu .navbar-nav .nav-item .nav-link {
        margin-right: 0;
    }

    .tf__manu_icon {
        margin-left: 35px;
    }

    .tf_main_manu {
        height: 62px;
    }

    .tf_main_manu .navbar-brand {
        width: 100px;
    }

    .tf_banner_text h3 {
        font-size: 20px;
    }

    .tf_banner_text h1 {
        font-size: 30px;
    }

    .tf_banner_text p {
        font-size: 16px;
    }

    .tf_common_btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .tf_about {
        padding: 50px 0px;
    }

    .tf_about_img {
        height: 220px;
        width: 220px;
        margin: auto;
        margin-bottom: 20px;
    }

    .tf_common_heading h3 {
        font-size: 18px;
    }

    .tf_common_heading h1 {
        font-size: 24px;
    }

    .play_btn {
        width: 40px;
        height: 40px;
        line-height: 36px;
    }

    .tf_service {
        padding: 50px 0px 30px 0px;
    }

    .tf_common_heading2 h3 {
        font-size: 18px;
    }

    .tf_common_heading2 h1 {
        font-size: 24px;
    }

    .tf_service_img {
        height: 180px;
    }

    .tf_service_heading span {
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .tf_service_heading {
        font-size: 18px;
        padding-left: 54px;
    }

    .tf_service_text p {
        font-size: 16px;
    }

    .tf_service_text .link {
        width: 46px;
        height: 30px;
        font-size: 24px;
        line-height: 30px;
    }

    .tf_featured {
        padding: 50px 0px 30px 0px;
    }

    .tf_featured_img {
        height: 170px;
    }

    .tf_frtd_heading {
        font-size: 18px;
    }

    .tf_featured_text .price {
        font-size: 16px;
    }

    .tf_single_featured .new {
        font-size: 16px;
    }

    .tf_timeline {
        padding: 55px 0px;
    }

    .tf_single_timeline {
        margin-top: 20px;
    }

    .tf_single_timeline li {
        margin-top: 25px;
    }

    .tf_single_timeline li {
        margin-top: 25px;
        margin-right: 25px;
    }

    .tf_team {
        padding: 50px 0px;
    }

    .tf_team_heading {
        font-size: 18px;
    }

    .tf_team_text p {
        font-size: 16px;
        margin-top: 0;
    }

    .tf_video_text {
        padding: 40px 0px;
    }

    .tf_video_text h1 {
        font-size: 20px;
    }

    .tf_video_text a {
        font-size: 20px;
        padding: 8px 15px;
        margin-top: 20px;
    }

    .tf_choose {
        padding: 50px 0px;
    }

    .tf_choose_img2 {
        width: 200px;
        height: 140px;
        bottom: -78px;
        right: 44px;
    }

    .tf_choose_text {
        margin-top: 115px;
        margin-left: 0;
    }

    .tf_common_heading p {
        font-size: 16px;
        margin-top: 20px;
    }

    .choose_heading span {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        margin-right: 7px;
    }

    .choose_heading h3 {
        font-size: 18px;
    }

    .tf_choose_dtls p {
        font-size: 16px;
    }

    .tf_blog {
        padding: 50px 0px 50px 0px;
    }

    .tf_blog_img {
        height: 190px;
    }

    .tf_single_blog .blog_food {
        bottom: 205px;
        font-size: 16px;
        padding: 4px 14px;
    }

    .tf_blog_text {
        padding: 18px 20px;
    }

    .tf_blog_heading {
        font-size: 18px;
    }

    .tf_blog_text p {
        font-size: 16px;
    }

    .tf_footer_overly {
        padding-top: 50px;
    }

    .tf_footer_logo {
        margin-bottom: 20px;
    }

    .tf_footer_address p span,
    .tf_footer_address a span {
        font-size: 16px;
    }

    .tf_footer_text h5 {
        margin-top: 20px;
    }

    .tf_short_link li a {
        font-size: 16px;
    }

    .tf_footer_text form input {
        padding: 12px 184px 12px 15px;
        font-size: 16px;
    }

    .tf_footer_btn {
        top: 3px;
        right: 3px;
        padding: 10px 13px;
    }

    .tf_copyrite {
        padding: 10px 0px;
        margin-top: 40px;
    }

    /* ===========================
        HOME END
    =============================*/



    /* ===========================
        SERVICE START
    =============================*/

    .tf__bread_overlay {
        padding: 90px 0px 40px 0px;
    }

    .tf__breadcumbs_img {
        display: none;
    }

    .tf__breadcumbs_text h4 {
        font-size: 30px;
    }

    #tf__breadcrumb .breadcrumb-item a {
        font-size: 16px;
    }

    #tf__breadcrumb .breadcrumb-item.active {
        font-size: 16px;
    }

    #tf__pagination .page-link {
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 0px 3px;
    }

    /* ===========================
        SERVICE END
    =============================*/




    /* ===========================
        CONTACT START
    =============================*/
    .contact_overly {
        padding: 55px 24px;
    }

    .contact_form h3 {
        font-size: 24px;
    }

    .contact_form p {
        font-size: 16px;
    }

    .contact_img {
        display: none;
    }

    /* ===========================
        CONTACT END
    =============================*/


    /* ===========================
        SERVICE_DTLS START
    =============================*/
    .tf__service_dtls_text p {
        font-size: 16px;
    }

    .tf__service_dtls_single_img {
        height: 195px;
    }

    .tf__service_dtls_pageination h4 {
        font-size: 18px;
    }

    .tf__service_dtls_text {
        margin-top: 54px;
    }

    .tf__service_dtls_video_sec {
        height: 300px;
    }

    .tf__service_dtls_video_sec {
        height: 300px;
        margin-top: 55px;
    }

    .tf__service_dtls_play_btn {
        top: 132px;
        right: 140px;
    }

    /* ===========================
        SERVICE_DTLS END
    =============================*/


    /* ===========================
        TEAM_DTLS START
    =============================*/
    .tf__team_img {
        height: 335px;
    }

    .tf__team_dtls_text {
        margin-top: 0;
    }

    /* ===========================
        TEAM_DTLS END
    =============================*/














    /* ===========================
         HOME START
    =============================*/
    /* ===========================
         HOME END
    =============================*/
}